<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.epoch.dentsumcgb.mapper.THypHrDataMapper">
  <resultMap id="BaseResultMap" type="com.epoch.dentsumcgb.entity.THypHrData">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="CostCenter" jdbcType="VARCHAR" property="costcenter" />
    <result column="CostServiceSet" jdbcType="VARCHAR" property="costserviceset" />
    <result column="LOBBrand" jdbcType="VARCHAR" property="lobbrand" />
    <result column="HRAccount" jdbcType="VARCHAR" property="hraccount" />
    <result column="Year" jdbcType="VARCHAR" property="year" />
    <result column="Entity" jdbcType="VARCHAR" property="entity" />
    <result column="Period" jdbcType="VARCHAR" property="period" />
    <result column="Amount" jdbcType="DECIMAL" property="amount" />
  </resultMap>

  <insert id="batchInsert">
    insert into t_hyp_hr_data(CostCenter,CostServiceSet,LOBBrand,HRAccount,Year,Entity,Period,Amount)
    values
    <foreach collection="list" item="item" separator=",">
      (
      #{item.Company Id},#{item.BPCEntity},
      #{item.Date},#{item.Datasource},#{item.Datatype},#{item.DataAttribute},#{item.Nominalcode},
      #{item.MainAccountName},#{item.BPCCode},#{item.Functionalarea},#{item.Networkbrand},#{item.BPCClient},
      #{item.Clientname},#{item.ServiceSegment},#{item.ServiceSegmentName},#{item.Channel},#{item.ChannelName},
      #{item.BPCServices},#{item.BPCServicesName},#{item.VendorCode},#{item.Vendor},#{item.Analysiscode},
      #{item.Analysis},#{item.Currency},#{item.CostCenter},#{item.D365ClientCode},#{item.D365ClientCodeName},#{item.Amount}
      )
    </foreach>

  </insert>
</mapper>