<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ArtistMapper">
  <resultMap id="BaseResultMap" type="com.example.entity.Artist">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ArtistId" jdbcType="INTEGER" property="artistid" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
  </resultMap>
</mapper>