<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.DynamicTableMapper">


    <update id="createTable" parameterType="string">
        CREATE TABLE ${tableName}
        (
        a varchar(200),
        b varchar(200),
        c varchar(200),
        d varchar(200),
        e varchar(200),
        f varchar(200),
        g varchar(200),
        h varchar(200)
        );
    </update>
</mapper>